*{
    font-family: sans-serif;
    margin: 0;
    box-sizing: border-box;
}


#navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 40px;

}
.main-heading{
    text-align: center;
    width:100%;
    font-weight: 900;
    text-transform: uppercase;
}

.main-heading span{
    font-weight: 500;
}

#navbar div{
    display:flex;
}

.nav-link{
    margin-left: 10px;
    margin-right: 10px;
    color:black;
    text-transform:uppercase;
    text-decoration: none;
    font-weight: 700;
    cursor:pointer;
}

.category-wrapper{
    padding:20px;
    margin-bottom: 20px;
}

.category-wrapper ol{
    list-style-type: none;
    padding:10px 15px;
}

.prod-link{
    text-decoration: none;
}
.category-wrapper ol li{
    padding:7px 10px;
    cursor: pointer;
    color:black;
    font-weight: 600;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.category-wrapper ol li:hover{
    background-color:rgb(0, 0, 0);
    color:#fff;
}

.product-wrapper{
    display:flex;
    padding:40px;
    margin:40px;
    border-radius:20px;
    box-shadow:0 0 15px #ccc;

}

.product-image{
    width:60%;
    padding:40px;
}

.product-image img{
    width:100%;
    border-radius:12px;
    box-shadow: 0 0 12px rgb(189, 186, 186);
    max-height: 549.859px;
    max-width: 549.859px;
}

.product-details{
    padding:40px;
}

.product-title{
    margin-bottom: 60px;
}

.product-description{
    opacity:0.4;
    margin-bottom: 10px;
}

.prod-desc-para{
    opacity:0.7;
    margin-bottom: 30px;
}

.price{
    font-size: 18px;
}

.price span{
    font-size: 22px;
    opacity: 0.6;
    font-weight:400;
}

.add-to-cart{
    margin-top: 40px;
    padding:15px 30px;
    border:none;
    background-color: rgb(40, 212, 40);
    color: white;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    cursor:pointer;
    transition: transform 0.3s ease;
}

.add-to-cart:hover{
    transform: scale(1.2);
    box-shadow: 0 0 8px rgb(75, 70, 70);
}
